{{#> base title="Подписка на рассылку" }}
  {{#if subscribeSuccess}}
    {{#if text}} 
      {{{ text }}}
    {{else}}
      <h3>Спасибо!</h3>
      <p>Ваш email-адрес <b>{{ email }}</b> добавлен в рассылку.</p>
    {{/if}}
  {{else}}
    <h3>Ошибка</h3>
    <p>
      Не удалось добавить адрес <b>{{ email }}</b> в рассылку. Такое может произойти, если:
      <ul>
        <li>вы уже подписаны на рассылку;</li>
        <li>
          вы запросили подписку давно, а перешли по ссылке только сейчас
          (в этом случае попробуйте подписаться повторно);
        </li>
        <li>вы отписались от рассылки, но не запросили подписку повторно;</li>
        <li>рассылка больше не существует.</li>
      </ul>
    </p>
  {{/if}}
{{/base}}
