{{#> base title="Отписаться от рассылки" }}
  {{#if unsubscribeSuccess}}
    {{#if text}}
      {{{ text }}}
    {{else}}
    <p>Адрес <b>{{ email }}</b> был исключён из рассылки.</p>
    {{/if}}
  {{else}}
    <h3>Ошибка</h3>
    <p>
      Не удалось исключить адрес из рассылки. Такое может произойти, если:
      <ul>
        <li>вы не подписаны на рассылку или уже отписались;</li>
        <li>рассылка больше не существует.</li>
      </ul>
    </p>
  {{/if}}
{{/base}}
